@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="about-company">
    <div class="container">
      <div class="about-image">
        <img class="image-person" src="images/pictures/daria-pimkina.jpg" alt="" />
        <div class="about-person">
          <h5>Samantha Brown, <i>Founder</i></h5>
          <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
        </div>
        <img class="about-effect" src="images/effects/EWlement.svg" alt="effect" />
      </div>
      <div class="about-info">
        <h5 class="about-company-text">About Company</h5>
        <h3 class="about-title">
          We Are Business Consulting & Credit Repair Experts
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          officiis quas assumenda esse obcaecati? Ex esse error voluptates
          iure vel totam eos.
        </p>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse
          quasi incidunt adipisci accusantium libero provident voluptate amet.
        </p>
        <div class="about-buttons">
          <button class="black-theme-btn">
            Learn More <i class="fa-light fa-arrow-up-right"></i>
          </button>
          <button title="play" class="play-btn">
            <i class="fa-sharp fa-solid fa-play"></i>
          </button>
          <p class="play-text">Intro Video</p>
        </div>
      </div>
    </div>
  </section>