@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="background-showcase">
    <div class="container">
      <div class="showcase-info">
        <h1 class="showcase-title">We Provide The Best Business Solutions</h1>
        <h6 class="showcase-text">
          Establish your vision and value proposition and turn them into
          testable prototypes.
        </h6>
        <div class="showcase-buttons">
          <button class="theme-btn">
            Get Consulting <i class="fa-light fa-arrow-up-right"></i>
          </button>
          <button class="beige-theme-btn">
            Learn More <i class="fa-light fa-arrow-up-right"></i>
          </button>
        </div>
      </div>
      <div class="showcase-image">
        <img src="./images/showcase-image.svg" alt="" />
      </div>
    </div>
    <div class="background-lines">
      <img src="./images/effects/background-lines.svg" alt="" />
    </div>
  </section>