@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
<section class="background-showcase">
    <div class="container">
      <div class="showcase-info">
        <h1 class="showcase-title">@Model.Value("showcaseTitle")</h1>
        <h6 class="showcase-text">
          @Model.Value("showcaseDescription")
        </h6>
        <div class="showcase-buttons">
          <button class="theme-btn">
            @Model.Value("showcaseButtonText") <i class="fa-light fa-arrow-up-right"></i>
          </button>
          <button class="beige-theme-btn">
            Learn More <i class="fa-light fa-arrow-up-right"></i>
          </button>
        </div>
      </div>
      <div class="showcase-image">
          @{
                var ShowcaseImage = Model.Value<MediaWithCrops>("showcaseImage");
                if (ShowcaseImage != null)
                {
                    <img src="@ShowcaseImage.MediaUrl()" alt="alt" />
                }
            }
      </div>
    </div>
    <div class="background-lines">
      <img src="./images/effects/background-lines.svg" alt="" />
    </div>
  </section>