@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
<section class="logos">
    <div class="container">
      @{
        var brandImages = Model.Value<IEnumerable<MediaWithCrops>>("BrandImages");
        foreach (var entry in brandImages)
        {
            <img src="@entry.MediaUrl()" alt="logotype">
        }
    }
    </div>
</section>