@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{

    <div class="news-header">
    
    <div class="breadcrumb-right">
        <img src="~/images/effects/background-lines.svg" alt="background-lines">
    </div>
    <div class="mini-nav">
        <div class="breadcrumb-links">
            @foreach (var item in selection.OrderBy(x => x.Level))
            {
                <a class="home" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
            }
            <a class="news current">@Model.Name</a>
        </div>
        <h1>@Model.Value("pageTitle")</h1>
    </div>
</div>
    
}