@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<header>
    <section class="breadcrumb">
      <img src="~/images/effects/background-lines.svg" alt="#">
      <div class="header-content">
        <div class="mini-nav">
          <a href="index.html">Home</a>
          <a class="active" href="news.html">News</a>
        </div>
        <h1>News & Articles</h1>
      </div>
    </section>
  </header>