@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer>
        <div class="section-1">
        <img src="images/logos/logotype-white.svg" alt="#" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
          consectetur, ratione quibusdam odit veritatis vero laborum alias, quod
          a earumat Lorem ipsum dolor sit amet..
        </p>
      </div>
      <div class="section-2">
        <h6>Company</h6>
        <ul class="footer-lists">
          <li>About</li>
          <li>Features</li>
          <li>Works</li>
          <li>Career</li>
        </ul>
      </div>
      <div class="section-3">
        <h6>Help</h6>
        <ul class="footer-lists">
          <li>Customer Support</li>
          <li>Delivery Details</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="section-4">
        <h6>Resources</h6>
        <ul class="footer-lists">
          <li>Free eBooks</li>
          <li>Development Tutorial</li>
          <li>How to - Blog</li>
          <li>Youtube Playlist</li>
        </ul>
      </div>
      <div class="section-5">
        <h6>Link</h6>
        <ul class="footer-lists">
          <li><a href="/free/ebook">Free eBooks</a></li>
          <li><a href="/tutorials/development">Development Tutorial</a></li>
          <li><a href="/guides/how-to-blog">How to - Blog</a></li>
          <li><a href="https://youtube.com" target="_blank">Youtube Playlist</a></li>
        </ul>
      </div>
    </footer>
    <div class="footer-bottom">
      <p>@DateTime.Now.Year - Consulting Company Inc. All Rights Reserved.</p>
      <div class="footer-social-media">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>