@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="our-services">
    <img src="images/effects/background-lines-right.svg" alt="effect" />
    <div class="container">
      <h5 class="orange-text">Our Services</h5>
      <h3 class="our-services-title">
        We Provide The Best Service For Consulting
      </h3>
      <div class="content-boxes">
        <div class="box">
          <div>Business Advice</div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis
            in nam possimus.
          </p>
          <div class="link">
            <a href="#" title="arrow"><i class="fa-light fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="box">
          <div>Startup Business</div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis
            in nam possimus.
          </p>
          <div class="link">
            <a href="#" title="arrow"><i class="fa-light fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="box">
          <div>Financial Advice</div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis
            in nam possimus.
          </p>
          <div class="link">
            <a href="#" title="arrow"><i class="fa-light fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="box">
          <div>Risk Management</div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis
            in nam possimus.
          </p>
          <div class="link">
            <a href="#" title="arrow"><i class="fa-light fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="flex-btn">
        <button class="beige-theme-btn">
          Browse Services <i class="fa-light fa-arrow-up-right"></i>
        </button>
      </div>
    </div>
  </section>