@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_LayoutWithBreadcrumb.cshtml";
}
 <h1 class="page-title">Our News & Articles</h1>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg"
        alt="Card image cap" />
      <div class="article-date">
        <p id="date">25</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural
          lead-in to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/emiliano-vittoriosi.jpg" alt="Card image cap" />
      <div class="article-date">
        <p id="date">17</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to
          additional content.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/kobu-agency.jpg" alt="Card image cap" />
      <div class="article-date">
        <p id="date">13</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/the-climate-reality-project.jpg" alt="Card image cap" />
      <div class="article-date">
        <p id="date">12</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural
          lead-in to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/damir-kopezhanov.jpg" alt="Card image cap" />
      <div class="article-date">
        <p id="date">07</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to
          additional content.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/annie-spratt.jpg" alt="Card image cap" />
      <div class="article-date">
        <p id="date">02</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/carlos-muza.jpg" alt="Card image cap" />
      <div class="article-date">
        <p id="date">28</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural
          lead-in to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/marek-levak.jpg" alt="Card image cap" />
      <div class="article-date">
        <p id="date">18</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to
          additional content.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="~/images/pictures/oli-dale.jpg" alt="Card image cap" />
      <div class="article-date">
        <p id="date">11</p>
        <p id="month">Mar</p>
      </div>
      <small class="text-muted">Business</small>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
    </div>
  </div>
  <nav aria-label="page-pagination">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item page-item-active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="#">9</a></li>

      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>